<div class="main">
  <h2>Filters</h2>
  <form class="vertical">
    <label for="">
      Brand:

    </label>
    <input type="text">
    <label for="">
      Model:
    </label>
    <input type="text">
    <label for="">Price:</label>

    <div class="container">
      <select name="" id="" >
        <option hidden selected>Min</option>
        <option value="200">200</option>
      </select>
      <select name="" id="">
        <option hidden selected>Max</option>
        <option value="200">200</option>
      </select>
    </div>

    <label for="">Miles:</label>
    <div class="container">
      <select name="" id="">
        <option hidden selected>Min</option>
        <option value="200">200</option>
      </select>
      <select name="" id="">
        <option hidden selected>Max</option>
        <option value="200">200</option>
      </select>
    </div>

    <div class="container">
      <button>Apply</button>
      <button>Clear</button>
    </div>
  </form>
</div>
