img {
  max-width: 100%;
}

.container {
  position: relative;
}

.arrow_container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  top: 40%;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}
