<div *ngIf="this.data.length > 0 " class="cart_structure">
  <div class="grid_display">
    <div *ngFor="let item of data" class="cart_item">
      <h1>{{item.product_title}}</h1>
      <p>{{item.product_price}}</p>
      <p>{{item.product_brand}}</p>
      <p>{{item.product_model}}</p>
      <p>{{item.product_desc}}</p>
      <div class="cart_controls">
        <button (click)="this.cart.deleteFromCart(item.product_uid)">-</button>
        <p>{{this.cart.calculateQuantity(item.product_uid)}}</p>
        <button (click)="this.cart.addToCart(item)">+</button>
      </div>
    </div>
  </div>
  <div class="cart_sum">
    <h1>Cart</h1>
    <p>Grand Total: {{this.price}}</p>
    <button (click)="deleteCart()">Default Cart 0</button>
  </div>
</div>

<div *ngIf="this.data.length === 0" class="empty_message">
  <h1>Your cart is empty</h1>
  <button routerLink="/shop">Go to Shopping!</button>

</div>
